#HTTPS_PROXY=http://privoxy:8118
BOT_TOKEN=
DB_HOST=postgres
DB_USERNAME=archlinux_ru_bot
DB_PASSWORD=archlinux_ru_bot
DB_DBNAME=archlinux_ru_bot
SHIZOID_DB_HOST=postgres
SHIZOID_DB_USERNAME=shizoid
SHIZOID_DB_PASSWORD=shizoid
SHIZOID_DB_DBNAME=shizoid
